body {
    background: linear-gradient(to left, #040303, #272121,#181414, #272121);
    margin: 0;
    padding: 0;
    color: azure;
}

header {
    background-color: #AFBFBD;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

section > img {
    width: 100%;
    height: 450px;
}

header > h1 {
    color: #b30000; 
}

div > h3 {
    text-align: center;
    color: #b30000;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    padding-bottom: 30px; 
    margin: 20px;
    
}

.card{
    margin-bottom: 40px;

}

.card > img {
    width: 225px;
    height: 225px;
    border-radius: 5px;
}

.row-1{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.row-2 {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: aqua;
    height: 150px;
    margin-top: 50px;
}

footer > p {
    text-align: center;
    font-size: 100px;
    color: red;
}